
main {

  min-height: 100vh; 
  display: flex;
  align-items: center; 
  flex-direction: column; 
  justify-content: center; 
  
  
  background-color: #f4f4f9; 
  padding: 20px;
  text-align: center; 
}


main h1 {
  color: #333; 
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}

.text-info {
  color: #555;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.text-info a {
  color: #007bff; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s;
}

.text-info a:hover {
  color: #0056b3; 
  text-decoration: underline; 
}